/* ==================================================
   RESET GENERAL
   ================================================== */

/* 
   Se eliminan márgenes y paddings por defecto del navegador
   y se activa box-sizing border-box para que padding y border
   no alteren el tamaño real de los elementos.
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ==================================================
   ESTILOS GENERALES DEL BODY
   ================================================== */

body {
    font-family: 'Inter', sans-serif; /* Tipografía principal */
    background-image: linear-gradient(135deg, #e6fff8, #c7e9f5); /* Fondo degradado */
    min-height: 100vh; /* Altura mínima igual a la pantalla */
    display: flex; /* Flexbox para organizar layout vertical */
    flex-direction: column; /* Navbar arriba, contenido centro, footer abajo */
}
/* =========================
   FOOTER
   ========================= */

footer {
    background-color: #143963;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 30px;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

footer a:hover {
    text-decoration: underline;
}

/* Columnas */
.foot_col_izq,
.foot_col_centro_izq,
.foot_col_centro_der,
.foot_col_der {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#foot_col_izq_img {
    height: 80px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}


/* Responsive */
@media (max-width: 768px) {

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer * {
        font-size: 0.8em;
    }


    .foot_col_izq,
    .foot_col_centro_izq,
    .foot_col_centro_der,
    .foot_col_der {
        align-items: center;
    }
}

@media (max-width: 768px) {
    #foot_col_izq_img {
        height: 60px;
    }
}


