.top{
    padding: 35px 0 0 0; 
    width: 100%;
    height: 200px;
    display: flex;
    
}

.top-texto{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.boton_registro{
    width: fit-content;
    margin-top: 10px;
    margin-left: 340px;
    text-decoration: none; /* Quitar subrayado */
    color: black; 
    border: 2px ; 
    padding: 10px 20px; /* Espacio interno para que se vea la forma */
    border-radius: 50px; /* Hace los bordes curvos */
    transition: all 0.3s ease; /* Transición suave al cambiar */
    cursor: pointer;
    background-image: linear-gradient(180deg, #bffae1, #83DDB7);
    font-weight: bold;
    transition: opacity 0.3s;
}

.boton_registro:hover {
    color: white;
    background-color: #3498db;
    border-color: #2980b9;
}

.top-imagen{
    padding-top: 5%;
    padding-right: 10%;
    justify-content: right;
    display: flex;
    width: 100%;
    
}


.cartel{
    padding: 0; /* Espacio arriba para el navbar */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: calc(100vh - 40px);
}

.cartel-card {
    width: 100%;
    height: flex;
    background-image: linear-gradient(180deg, #c9f5f1, #7fb9de);
    box-shadow: 0 0px 60px rgba(0, 0, 0, 0.2);
    display: flex;
}

.cartel-ritmo img{
    border-radius: 45%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;
    width: 60px;
    height: 60px;
    margin-left: 80px;
    margin-top: 50px;

}