


/* =========================
   FONDO GENERAL LOGIN
   ========================= */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* =========================
   TARJETA LOGIN
   ========================= */
.login-card {
    width: 850px;
    height: 450px;
    border-radius: 25px;
    background-image: linear-gradient(180deg, #c9f5f1, #7fb9de);
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
    display: flex;
}
/* =========================
   COLUMNA FORMULARIO
   ========================= */
.login-form {
    width: 38%;
    padding: 50px;
}
/* =========================
   TÍTULO
   ========================= */
.login-form h2 {
    color: #143963;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}
/* =========================
   INPUTS
   ========================= */
.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #8fbcd4;
    border-radius: 25px;
    background-color: white;
}
/* =========================
   CHECKBOX
   ========================= */
.checkbox {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(69, 69, 69);
}
/* =========================
   BOTÓN LOGIN
   ========================= */
.btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg, #4fe3b1, #5b8cff);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn-login:hover {
    opacity: 0.85;
}
/* =========================
   TEXTO INFERIOR
   ========================= */
.login-link {
    font-size: 14px;
    margin-top: 15px;
}

.login-link a {
    color: #143963;
    font-weight: bold;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
/* =========================
   LINK OLVIDÉ CONTRASEÑA
   ========================= */
.forgot-password {
    font-size: 13px;
    display: flex;
    color: #143963;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
/* =========================
   COLUMNA IMAGEN
   ========================= */
.login-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 80%;
}





