/* =========================
   NAVBAR BASE
   ========================= */

.navbar {
    background-color: #143963;
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    top: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
    z-index: 1000;
}

.logo {
    height: 50px;
}

/* =========================
   MENÚ DESKTOP
   ========================= */

.botones {
    display: flex;
    gap: 15px;
    align-items: center;
}

.botones_nav,
.boton_register {
    text-decoration: none;
    color: rgb(193, 253, 255);
    font-weight: bold;
    padding: 8px 18px;
    transition: all 0.3s ease;
}

.botones_nav:hover,
.boton_register:hover {
    color: rgb(240, 249, 249);
    text-decoration: underline;
}

/* =========================
   HAMBURGUESA
   ========================= */

#menu-toggle {
    display: none;
}

.hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburguesa span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}

/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 992px) {

    .hamburguesa {
        display: flex;
        margin-right: 20px;
    }

    .botones {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: #143963;

        flex-direction: column;
        align-items: center;
        gap: 25px;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        padding: 0;
    }

    #menu-toggle:checked ~ .botones {
        max-height: 500px;
        padding: 20px 0;
    }

    .botones_nav,
    .boton_register {
        width: 100%;
        text-align: center;
    }

    /* Animación X */

    #menu-toggle:checked + .hamburguesa span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #menu-toggle:checked + .hamburguesa span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburguesa span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
