.navbar {
    background-color: #143963; /* Color de fondo del navbar */ 
    display: flex; /* Usar flexbox para el diseño */
    position: fixed; /* Fijar el navbar en la parte superior */
    width: 100%; /* Ancho completo */
    height: 35px;
    padding: 14px 0; /* Espaciado arriba y abajo */
    align-items: center; /* Alinear los elementos verticalmente al centro */
    justify-content: space-between; /* Espacio entre los elementos */
    overflow: hidden;
}

.logo {
    margin-left: 20px; /* Espacio a la izquierda del logo */
    margin-right: 20px; /* Espacio a la derecha del logo */
}

.botones {
    display: flex; /* Usar flexbox para los botones */
    gap: 15px; /* Espacio entre los botones */
    justify-content: right; /* Alinear los botones a la derecha */
    margin-right: 20px; /* Espacio a la derecha del contenedor de botones */
    white-space: nowrap; /* Evitar que los botones se envuelvan */
}

.botones_nav {
    text-decoration: none; /* Quitar subrayado */
    display: flex; /* Para que tome el padding */
    color: #3498db; 
    font-weight: bold; /* Texto en negrita */
    border: 2px solid #3498db;
    background-color: transparent; /* Fondo transparente */
    padding: 10px 20px; /* Espacio interno para que se vea la forma */
    border-radius: 50px; /* Hace los bordes curvos */
    transition: all 0.3s ease; /* Transición suave al cambiar */
}

.botones_nav:hover, .boton_register:hover {
    color: white;
    background-color: #3498db;
    border-color: #2980b9;
}

.boton_register {
    text-decoration: none; /* Quitar subrayado */
    color: black; 
    font-weight: bold; /* Texto en negrita */
    border: 2px solid #83DDB7; 
    background-color: #83DDB7; 
    padding: 10px 20px; /* Espacio interno para que se vea la forma */
    border-radius: 50px; /* Hace los bordes curvos */
    transition: all 0.3s ease; /* Transición suave al cambiar */
}