


/* =========================
   FONDO GENERAL DEL REGISTER
   ========================= */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* =========================
   TARJETA DE REGISTRO
   ========================= */
.register-card {
    width: 850px;
    height: 450px;

    border-radius: 25px;
    background-image: linear-gradient(180deg, #c9f5f1, #7fb9de);

    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);

    display: flex;
}


/* =========================
   COLUMNA DEL FORMULARIO
   ========================= */
.register-form {
    width: 38%;
    padding: 50px;
}


/* =========================
   TÍTULO DEL REGISTER
   ========================= */
.register-form h2 {
    color: #143963;
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 25px;
}


/* =========================
   CAMPOS DE TEXTO
   ========================= */
.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;

    font-size: 14px;

    border: 1px solid #8fbcd4;
    border-radius: 25px;

    background-color: white;
}


/* =========================
   CHECKBOX (TÉRMINOS)
   ========================= */
.checkbox {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* =========================
   BOTÓN REGISTRARSE
   ========================= */
.btn-register {
    width: 100%;
    padding: 12px;

    /* Degradado del botón (NO VISTO EN CLASE) */
    background-image: linear-gradient(90deg, #4fe3b1, #5b8cff);

    color: white;
    font-weight: bold;

    border: none;
    border-radius: 25px;

    cursor: pointer;

    transition: opacity 0.3s;
}

.btn-register:hover {
    opacity: 0.85;
}


/* =========================
   TEXTO INFERIOR
   ========================= */
.register-link {
    font-size: 14px;
    margin-top: 15px;
}

.register-link a {
    color: #143963;
    font-weight: bold;
    text-decoration: none;
}


/* =========================
   COLUMNA DERECHA (IMAGEN)
   ========================= */
.register-image {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-image img {
    width: 80%;
}
